<ul class="postlist col-span-8 col-start-3 sm:col-span-12">
{%- for post in postslist %}
	<li class="postlist-item">
		<a href="{{ post.url }}" class="postlist-link"><h2>{{ post.data.heading }}</h2></a>
		<time class="postlist-date" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
		<p>{{ post.data.description }}</p>
		{% if not forloop.last %}<div class='postlist-divider'></div>{% endif %}
	</li>
{%- endfor %}
</ul>
